* {
  box-sizing: border-box;
}
body {
  margin: 10vpx;
  font-family: "Lexend Deca", sans-serif;
  width: 100vw;
  height: 100vh;
}
h1 {
  font-size: 80px;
  font-family: "Lexend Deca", sans-serif;
  color: rgba(142, 142, 142, 0.625);
  display: flex;
  justify-content: center;
  margin-top: 200px;
}
h1 a {
  background-image: gradient(
    linear,
    left top,
    right top,
    color-stop(0, #ffb3ba),
    color-stop(0.15, #ffb3ba),
    color-stop(0.3, #ffdfba),
    color-stop(0.45, #ffffba),
    color-stop(0.65, #baffc9),
    color-stop(0.8, #bae1ff),
    color-stop(1, #bae1ff)
  );
  color: transparent;
  background-clip: text;
  /* for webkit browsers Chrome and Safari */
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0, #ffb3ba),
    color-stop(0.15, #ffb3ba),
    color-stop(0.3, #ffdfba),
    color-stop(0.45, #ffffba),
    color-stop(0.65, #baffc9),
    color-stop(0.8, #bae1ff),
    color-stop(1, #bae1ff)
  );
  -webkit-background-clip: text;
}
#start-home {
  margin-top: 40px;
  display: flex;
  align-content: center;
  justify-content: center;
}
#start-button {
  margin-top: 10px;
  position: relative;
  cursor: pointer;
  font-family: "Lexend Deca", sans-serif;
  font-size: 70px;
  border: none;
  background-color: white;
  color: rgba(43, 41, 41, 0.598);
  padding: 15px 35px;
  border-radius: 6px;
}
#start-button:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
#start-button:focus {outline:0;}
#game-board {
  grid-template-columns: repeat(2, 1fr);
  width: 100vw;
}
#game-board-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px;
}
#myCanvas {
  border: 3px solid black;
}

#grids {
  width: 40vw;
  display: grid;
  align-content: center;
  justify-content: center;
  grid-template-columns: repeat(6, 10%);
  grid-auto-rows: 70px;
}
.grid {
  transition: all 0.3s;
}
.clickedGrid {
  transform: scale(1.1);
}
#counter {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  height: 100px;
  width: 150px;
  box-shadow: 5px 6px 12px -9px rgba(0, 0, 0, 0.75);
}
#counterText {
  font-size: 22px;
  color: rgba(57, 54, 54, 0.598);
  margin: 10px;
  display: flex;
  justify-content: center;
  align-content: center;
}
#counterNum {
  margin: 5px;
  display: flex;
  align-content: center;
  justify-content: flex-end;
  padding-right: 15px;
  font-family: "Lexend Deca", sans-serif;
  font-size: 37px;
  color: rgba(11, 10, 10, 0.598);
}
#abort { 
  padding-left: 20px;
  padding-top: 30px;
  width: 250px;
  display: flex;
  justify-content: left;
  flex-direction: column;
  align-items: center;
}
#abort-button {
  position: relative;
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
  font-family: "Lexend Deca", sans-serif;
  font-size: 18px;
  border: none;
  background-color: white;
  color: rgba(126, 122, 122, 0.598);
  width: 150px;
  padding: 19px 6px;
  border-radius: 6px;
}
#abort-button:focus {outline:0;}
#stop-buttons{
  padding: 2px;
  width: 347px;
  margin: 40px;
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
  align-content: center;
}
#reset-button {
  position: relative;
  cursor: pointer;
  font-family: "Lexend Deca", sans-serif;
  font-size: 22px;
  border: none;
  background-color: white;
  color: rgba(43, 41, 41, 0.598);
  padding: 10px 15px;
  border-radius: 6px;
}
#reset-button:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
#reset-button:focus {outline:0;}
#random-button {
  position: relative;
  cursor: pointer;
  font-family: "Lexend Deca", sans-serif;
  font-size: 26px;
  border: none;
  background-color: white;
  color: rgba(43, 41, 41, 0.598);
  padding: 10px 15px;
  border-radius: 6px;
}
#random-button a{
  background-image: gradient(
    linear,
    left top,
    right top,
    color-stop(0, #ffb3ba),
    color-stop(0.15, #ffb3ba),
    color-stop(0.3, #ffdfba),
    color-stop(0.45, #ffffba),
    color-stop(0.65, #baffc9),
    color-stop(0.8, #bae1ff),
    color-stop(1, #bae1ff)
  );
  color: transparent;
  background-clip: text;
  /* for webkit browsers Chrome and Safari */
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0, #ffb3ba),
    color-stop(0.15, #ffb3ba),
    color-stop(0.3, #ffdfba),
    color-stop(0.45, #ffffba),
    color-stop(0.65, #baffc9),
    color-stop(0.8, #bae1ff),
    color-stop(1, #bae1ff)
  );
  -webkit-background-clip: text;
} 
#random-button:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
#random-button:focus {outline:0;}